/*
Chris Chuck
(Job/Assignment #)
(Job/Assignment Title)

(page title, describe this page and where it goes)
(describe this page and what it does)
(describe other details)
*/

/*------------------------------------*\
  #applies to current page
\*------------------------------------*/
table{
  border: solid 2pt black;
  padding: 20px;
  background: gray;
  margin: auto;
}

thead td{
  text-align: center;
  text-decoration: underline;
  background-color: white;
}

#bodyList td:nth-child(1), td:nth-child(3){
  border: solid 1pt black;
  width: 20%;
  text-align: center;
  background: white;
}

#bodyList td:nth-child(2), td:nth-child(4){
/*  border: solid 1pt black;*/
  padding: 15px;
  width: 30%;
  background: white;
}

@media(max-width: 500px){
  table{
    width: 100%;
  }
}

@media(min-width: 1000px){
  table{
    width: 70%;
  }
}